/* Definir variables */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;700&display=swap');

:root {
  --white: #ffffff;
  --black: #000000;
  --gray: #2a2a2a;
  --gray-light: #161616;
  --red-dark: #800000;
  --red-light: #bf0000;
  --green-dark: #008000;
  --green-light: #06d206;
  --shadown: rgba(0, 0, 0, 0.3);
  --priority-low: #0dc00d;
  --priority-medium: #ffd700;
  --priority-high: #ffa500;
  --priority-urgent: #ff0000;

  --border-1: 0.0625rem;
  --gap-5: 0.3125rem;
  --gap-10: 0.625rem;
  --gap-20: 1.25rem;
  --gap-25: 1.5625rem;
  --gap-50: 3.125rem;
  --gap-100: 6.25rem;

  --font-family: 'Dosis', sans-serif;
  --alert-time: 3000ms;
}

/* Globales */
* {
  text-align: center;
  color: var(--white);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  list-style: none;
  box-sizing: border-box;
}

html {
    /* 1rem */
  font-size: 16px;
}

body{
  background-color: var(--gray);
  font-size: 1rem;
  font-family: var(--font-family);
}

textarea{
  resize: vertical;
}

button{
  /* quitarle los estilos por defecto */
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

/* BEM Components */


/* alerta */

.alert {
  position: fixed;
  padding: 0 0 var(--gap-10) 0;
  border-radius: var(--gap-10);
  margin: var(--gap-25);
  top: 0;
  left: 0;
  width: var(--gap-100)*3;
  animation: alert 0.5s ease-in-out;
  z-index: 20;
}

.alert--error {
  background-color: var(--red-dark)
}

.alert--normal {
  background-color: var(--green-dark)
}

.alert__progress {
  position: relative;
  width: 100%;
  height: var(--gap-10);
  border-radius: var(--gap-10) var(--gap-10) 0 0;
}

.alert__progress--error {
  background-color: var(--red-light)
}

.alert__progress--normal {
  background-color: var(--green-light)
}

.alert__progressbar {
  border-radius: var(--gap-10) var(--gap-10) 0 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  animation: progress var(--alert-time) linear;
}

.alert__progressbar--error {
  background-color: var(--red-dark)
}

.alert__progressbar--normal {
  background-color: var(--green-dark)
}

.alert__message {
  font-size: 1rem;
  font-weight: bold;
  padding-inline: var(--gap-10);
}

@keyframes alert {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes progress {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.80);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  animation: modal 0.5s ease-in-out;
}

@keyframes modal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  margin: var(--gap-25);
  cursor: pointer;
  width: var(--gap-50);
}

.form {
  background-color: var(--gray-light);
  padding: var(--gap-50);
  border-radius: var(--gap-10);
  width: 100%;
  max-width: 500px;
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
  margin-bottom: var(--gap-25);
}

.form__label {
  font-size: 1.5rem;
  font-weight: bold;
}

.form__input {
  padding: var(--gap-10);
  border-radius: var(--gap-5);
  border: var(--border-1) solid var(--gray);
  background-color: var(--gray);
  color: var(--white);
  text-transform: none;
}

.form__submit {
  font-weight: bold;
  font-size: 1.2rem;
  padding: var(--gap-10);
  border-radius: var(--gap-5);
  border: var(--border-1) solid var(--gray);
  background-color: var(--green-dark);
  color: var(--white);
  cursor: pointer;
  width: 100%;
}

.form__submit:hover {
  transform: scale(1.2);
}

.form__submit:active {
  transform: scale(0.8);
  background-color: var(--green-light);
}

.form__submit--disabled {
  cursor: not-allowed;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 128, 0, 0.5);
  background-image: repeating-linear-gradient(45deg, transparent, transparent var(--gap-5), rgba(0, 0, 0, 0.5) var(--gap-5), rgba(0, 0, 0, 0.5) var(--gap-10));
  background-size: var(--gap-10) var(--gap-10);
  background-position: 0 0;
  animation: move 1s linear infinite;
}

.form__submit--delete{
  background-color: var(--red-dark);
}

@keyframes move {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: var(--gap-10) var(--gap-10);
  }
}


/* header */

.header {
  background-color: var(--gray-light);
  padding: var(--gap-50);
}


.header__button {
  margin-block-start: var(--gap-25);
  padding: var(--gap-5);
  background-color: var(--green-dark);
  color: var(--white);
  border-radius: var(--gap-5);
  border: var(--border-1) solid var(--gray);
  cursor: pointer;
  padding: var(--gap-10);
  font-weight: bold;
}

.header__button:hover {
  transform: scale(1.2);
}

.header__button:active {
  transform: scale(0.8);
  background-color: var(--green-light);
}

/* app */

.app {
  padding: var(--gap-50);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: var(--gap-10);
}

@media screen and (min-width: 768px) {
  .app {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .app {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* user */

.user {
  background-color: var(--gray-light);
  padding: var(--gap-50);
  border-radius: var(--gap-10);
  width: 100%;
  max-width: 500px;
}

.user__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--gap-25);
  gap: var(--gap-10);
}

.user__name {
  font-size: 1.5rem;
  font-weight: bold;
}

.user__buttons{
  display: flex;
  gap: var(--gap-10);
}

.user__addtask,
.user__delete {
  cursor: pointer;
  width: var(--gap-25);
}

.user__addtask {
  stroke: var(--green-light);
}

.user__delete {
  stroke: var(--red-light);
}

.user__addtask:hover,
.user__delete:hover{
  transform: scale(1.2);
}

.user__addtask:active,
.user__delete:active{
  transform: scale(0.8);
}

.user__addtask:active{
  stroke: var(--green-dark);
}

.user__delete:active{
  stroke: var(--red-dark);
}

/* Task */
.tasks{
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
  max-height: 250px;
  overflow-y: scroll;
}

/* al tastkpreview ponerle un pequeño bordecito blanco */
.taskpreview{
  border: var(--border-1) solid var(--white);
  border-radius: var(--gap-5);
  padding: var(--gap-10);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray);
  gap: var(--gap-10);
}

.taskpreview__name{
  font-size: .9rem;
  font-weight: bold;
}

.taskpreview__buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-5);
}

.taskpreview__button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-5);
}

.taskpreview__edit{
  cursor: pointer;
  width: var(--gap-25);
}

.taskpreview__priority{
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: var(--gap-5);
  padding: var(--gap-5);
  display: inline-block;
  color: var(--black);
}

.taskpreview__priority--low{
  background-color: var(--priority-low);
}

.taskpreview__priority--medium{
  background-color: var(--priority-medium);
}

.taskpreview__priority--high{
  background-color: var(--priority-high);
}

.taskpreview__priority--urgent{
  background-color: var(--priority-urgent);
}

.taskpreview__category{
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: var(--gap-5);
  padding: var(--gap-5);
  display: inline-block;
  color: var(--white);
}

.taskpreview__info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-5);
}

.taskpreview__view{
  cursor: pointer;
  width: var(--gap-25);
}

/* Filtros de tareas */
.filters{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--gap-10);
  margin-block-end: var(--gap-25);
}

.filter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-5);
}

.filter__label{
  font-size: 1.5rem;
  font-weight: bold;
}

.filter__select{
  padding: var(--gap-10);
  border-radius: var(--gap-5);
  border: var(--border-1) solid var(--gray);
  background-color: var(--gray);
  color: var(--white);
  text-transform: none;
  width: 100%;
  max-width: 500px;
}

.filter__option{
  padding: var(--gap-10);
  border-radius: var(--gap-5);
  border: var(--border-1) solid var(--gray);
  background-color: var(--gray);
  color: var(--white);
  text-transform: none;
  width: 100%;
  max-width: 500px;
  text-align: center;
}

/* Taskview */
.taskview{
  display: flex;
  flex-direction: column;
  gap: var(--gap-20);
  background-color: var(--gray-light);
  padding: var(--gap-50);
  border-radius: var(--gap-10);
  width: 100%;
  max-width: 500px;
}

.taskview__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-10);
}

.taskview__name{
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--green-light);
}

.taskview__user{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray);
  padding: var(--gap-5);
  border-radius: var(--gap-5);
}

.taskview__usericon{
  width: var(--gap-20);
}

.taskview__username{
  font-size: .8rem;
}

.taskview__body{
  min-height: 100px;
  background-color: var(--gray);
  padding: var(--gap-10);
}

.taskview__description{
  font-size: 1rem;
  text-align: start;
}

.taskview__footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-10);
  font-size: .9rem;
  font-weight: bold;
}

